*{
  margin: 10px;
}


body {
    background-image: url(/img/1fmrmr.png);/* Fondo blanco para una sensación de amplitud */
    font-family: "Arial Black", sans-serif;
  }
  
  form {
    max-width: 600px;
    margin: 8px auto;
    background-color: rgba(113, 67, 150, 0.479); /* Azul pastel para los formularios */
    padding: 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #faf9fcfb; /* Morado oscuro para contraste en las etiquetas */
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid rgba(113, 67, 150, 0.479); /* Borde azul pastel */
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 30px;
    background-color: rgba(113, 67, 150, 0.479); /* Botones morados pastel */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .subirArchivo {
    height: 45px;
    background-color: #4a08a070; /* Botones morados pastel para subir archivos */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  table {
    margin-top: 30px;
    margin: 10px;
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(113, 67, 150, 0.178); /* Fondo claro para las tablas */
    border-radius: 10px;
  }
  
  th, td {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border-bottom: 1px solid rgba(62, 14, 102, 0.514);
  }
  
  th {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(113, 67, 150, 0.479); /* Cabeceras de tabla azules pastel */
    color: rgb(237, 231, 241);
  }

  tbody{
    color: rgba(62, 14, 102, 0.774);
    font-family: cursive;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f256;
  }
  
  tbody tr:hover {
    background-color: #cccccc;
  }
  
  .volver-inicio {
    position: fixed;
    top: 20px;
    left: 20px;
  }
  
  .btn-volver {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #545478; 
    color: #fff;
    border-radius: 5px;
  }
  
  .btn-volver:hover {
    background-color: #3a3a5e;
  }
  
  .contenedor-principal {
    display: flex;
    justify-content: space-between;
  }
  
  .contenedor-formulario {
    flex: 1; 
    margin-top: 26px;
    margin-right: 30px; 
  }
  
  .contenedor-tabla {
    flex: 1.5; 
    margin-right: 30px;
  }
  
  button:hover, .subirArchivo:hover, .btn-volver:hover {
    background-color: #db5ca259; 
    color: #ffffff;
  }
  button#btnBorrar:hover {
    background-color: #d9534f; 
    color: #ffffff;
  }